<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Decodes</key>
	<dict>
		<key>Home</key>
		<dict>
			<key>class</key>
			<string>HomeViewController</string>
			<key>storyboard</key>
			<string>Main</string>
			<key>id</key>
			<string>Home</string>
		</dict>
		<key>Seller</key>
		<dict>
			<key>class</key>
			<string>SellerViewController</string>
			<key>builder</key>
			<string>seller</string>
		</dict>
		<key>Product</key>
		<dict>
			<key>class</key>
			<string>ProductViewController</string>
			<key>builder</key>
			<string>product</string>
		</dict>
	</dict>
	<key>Destinations</key>
	<dict>
		<key>Home-Detail-Seller</key>
		<dict>
			<key>target</key>
			<string>Seller</string>
			<key>navigator</key>
			<string>animated-present</string>
		</dict>
		<key>Home-Detail-Product</key>
		<dict>
			<key>target</key>
			<string>Product</string>
			<key>navigator</key>
			<string>slide</string>
		</dict>
		<key>Seller-Back</key>
		<dict>
			<key>navigator</key>
			<string>animated-dismiss</string>
		</dict>
		<key>Product-Back</key>
		<dict>
			<key>navigator</key>
			<string>instant-dismiss</string>
		</dict>
	</dict>
</dict>
</plist>
